{% schema %}
{
    "name": "Card Section",
    "settings": [
        {
            "type": "image_picker",
            "id": "card_image",
            "label": "Card Image"
        },
        {
            "type": "text",
            "id": "card_title",
            "label": "Card Title",
            "default": "10% Back"
        },
        {
            "type": "text",
            "id": "card_description",
            "label": "Card Description",
            "default": "Earn 10% Cash back on Swootech. Learn How"
        },
        {
            "type": "image_picker",
            "id": "card_image_2",
            "label": "Card Image 2"
        },
        {
            "type": "text",
            "id": "card_title_2",
            "label": "Card Title 2",
            "default": "Download our app"
        },
        {
            "type": "text",
            "id": "card_description_2",
            "label": "Card Description 2",
            "default": "Earn 10% Cash back on Swootech. Learn How"
        }
    ],

    "blocks": [
         
    ],

    "presets": [
        {
            "name": "Card Section"
        }
    ]
}
{% endschema %}

<section class="w-full h-[200px] flex justify-center items-center gap-4">

    <!-- LEFT CARD -->
    <div class="w-[646px] h-[180px] rounded-xl relative overflow-hidden">
        {{ section.settings.card_image | image_url: width: 646 | image_tag: class: 'w-full h-full object-cover rounded-xl' }}

        <div class="absolute top-8 right-12 text-right">
            <h1 class="text-[40px] font-bold text-[#FFE400] leading-tight">
                {{ section.settings.card_title }}
            </h1>
            <p class="text-[12px] text-white font-semibold w-[160px] mt-2">
                {{ section.settings.card_description }}
            </p>
        </div>
    </div>

    <!-- RIGHT CARD -->
    <div class="w-[646px] h-[180px] rounded-xl relative overflow-hidden">
        {{ section.settings.card_image_2 | image_url: width: 646 | image_tag: class: 'w-full h-full object-cover rounded-xl' }}

        <!-- TEXT -->
        <div class="flex absolute top-8 left-12 text-white">
            <h1 class="text-[24px] font-bold w-[180px] leading-tight">
                {{ section.settings.card_title_2 }}
            </h1>
            <p class="text-[12px] w-[200px] font-semibold opacity-70 mt-2">
                {{ section.settings.card_description_2 }}
            </p>
        </div>

        <!-- INPUT -->
        <div class="absolute bottom-6 left-12 bg-[#999999] px-4 w-[300px] h-[35px] rounded-xl flex items-center">
            <input type="text" placeholder="(+xx) xxx..." class="bg-transparent border-none outline-none text-white w-full text-[12px]">
            <button class="text-[#1BF11B] text-[12px] whitespace-nowrap">
                send link
            </button>
        </div>
    </div>

</section>